*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkblue;
}

.container{
    max-width: 1000px;
    padding-inline: 1rem;
    margin-inline: auto;
}

h1{
    color: white;
    text-align: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: rgb(87, 192, 228);
    color: white;
    margin: 5px;
}

.fizz{
    background-color: rgb(237, 191, 106);
}

.buzz{
    background-color: rgb(133, 239, 133);
}

.fizzbuzz{
    background-color: rgb(188, 137, 235);
}